* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: border-box;
}

header {
    position: sticky;
    top: 0;
}


.navbar {
    height: 130px;
    background-color: #00274D;
    color: #FF7F50;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 100px;
    width: 100px;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    height: 100px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add {
    color: #FFD700;
    font-size: 1rem;
    margin-left: 5px;
    font-weight: bold;

}

.add-icon {
    display: flex;
    align-items: center;
}

.phn {
    font-size: 1rem;
    color: #FFD700;
    margin-left: 5px;
    font-weight: bold;
}

.phn-icon {
    display: flex;
}

.name {
    font-size: 3rem;
    font-weight: bold;
}

.navbar-sec {
    height: 30px;
    background-color: #0077B6;
    color: #FF7F50;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}

.active {
    color: #ffffff;
    text-decoration: none;

    font-size: larger;
}

.active:hover {
    color: #FFD700;
}

.container {
    height: 600px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    background-color: #eff0f3;

}

.wish {
    background: linear-gradient(to right, #FFEB99, #FFF5CC);
    height: 272px;
    width: 500px;
    font-size: 27px;
    align-items: center;
    justify-content: center;
}

.ourservices {
    height: 30px;
    width: 100%;
    background-color: #066b1e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffd900;
}


.computer-class {
    height: 80px;
    width: 100px;
}

.boxx2 {
    height: 595px;
    width: 500px;
    background: linear-gradient(to bottom right, #E6F0FF, #CCD9FF);
    justify-content: center;
    border-bottom: 1px solid black;
    margin-right: 10px;

}




.founder-img {
    height: 250px;
    width: 350px;
}

.name-two {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-decoration-style: none;
}

.post {
    font-size: 1.5rem;
    text-align: center;
    color: black
}


.office-img {
    height: 600px;
    width: 100%;
}

.srj-img {
    margin-left: 13%;
    margin-top: 10px;
}

.heading {
    background-color: #f9f9f9;
    border: 3px solid #0088CC;
}

.welcome {
    height: 500px;
    width: 100%;
    background-color: #F4F4F4;
    padding: 50px 0 0;

}

.welcome-text {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 200px;
}

.about {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 155px;
}

.s2s {
    padding-left: 200px;
}

.time {
    background-color: #CAF0F8;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-link {
    color: black;
    padding-left: 5px;

}

.mail-link:hover {
    color: #0077B6;

}

.fa-solid {
    margin-top: 4px;
}

.section-two {
    background-color: #F0FFFF;
    height: 500px;
    width: 100%;



}

.notices {
    background-color: #00274D;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 253, 253);


}

.notice {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 4px;
    margin-left: 5px;
}

.link {
    height: 100px;
    width: 300px;
    margin-top: 20px;
    margin-left: 180px;
    ;
    border-bottom: 1px solid black;
    display: flex;
}

.link1 {
    background-color: #0088CC;
    height: 72px;
    width: 60px;
    color: white;
    text-align: center;

}

.mm {
    font: 14px "Playfair Display", serif;
}

.dd {
    font: 24px Sintony, sans-serif;
}

.yy {
    font: 12px, sans-serif;
}

.link2 {
    margin-left: 25px;
}

li {
    list-style-type: none;
}

.text {
    height: 100%;
    width: 50%;
    display: flex;

}

.imgslider {
    height: 600px;
    width: 1380px;
    background-color: #00274D;
    background-image: url("office.jpg");
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    animation: changeimage 27s linear infinite;
}

@keyframes changeimage {
    0% {
        background-image: url("office.jpg");
    }

    25% {
        background-image: url("2.jpg");
    }

    50% {
        background-image: url("4.jpg");
    }

    75% {
        background-image: url("class.jpg");
    }

    100% {
        background-image: url("bg.jpg");
    }
}

.service-card {
    background-color: #002f5d;
    color: #ffb088;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.service-card p {
    font-size: 30px;
}

.services-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  
}

.flip-card1 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
    margin-left: 3px;
}

.flip-card2 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card3 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card4 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card5 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card6 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card7 {
    background-color: transparent;
    width: 262px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card1:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card2:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card3:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card4:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card5:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card6:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card7:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #84bcd9, #b5dff0);
    padding: 10px;
    box-sizing: border-box;
}

.flip-card-front img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.flip-card-front h4 {
    margin-top: 15px;
    text-align: center;
    color: #003366;
    font-size: 20px;
}

.flip-card-back {
    transform: rotateX(180deg);
    background: linear-gradient(to bottom, #ffb088, #f29c92);
    color: white;
    text-align: center;
    padding: 20px;
}

.flip-card-back p {
    font-size: 20px;
}

.plus-service{
    height: 30px;
    width: 100%;
background: linear-gradient(to right, #84bcd9, #b5dff0);
color: #003355;

    display: flex;
   justify-content: center;
   align-items: center;
}
.plus-service pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
  
}